.toolbar-search-container {
    flex: 0 0 auto;
    width: 250px;
    max-width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.toolbar-search-container ::deep .toolbar-search-field.mud-input-control {
    flex: 0 0 auto !important;
    width: 100%;
    max-width: 100%;
}
