@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="block-container">
    <HomeIntro />

    @*     <AuthorizeView>
        <Authorized>
            <BlockInject />
        </Authorized>
        <NotAuthorized>
            <HomeIntro />
            <BlockInject />
        </NotAuthorized>
    </AuthorizeView>
 *@</div>
