@page "/underConstruction"
@layout MainLayout

<div class="uc-container">
    <MudIcon Icon="@Icons.Material.Filled.Construction" Class="uc-icon" />
    <MudText Typo="Typo.h3" GutterBottom="true">Under Construction</MudText>
    <MudText Typo="Typo.body1" Class="uc-subtitle">
        This page is currently being built. Please check back soon.
    </MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/" Class="mt-6">
        Go Home
    </MudButton>
</div>
