@page "/access"
@using Toolbox.Data
@using GFSWeb.sdk.Entity;

<ReturnUrlButton ReturnUrl=@returnUrl />

<BlockContainer>
    <MudText Typo="Typo.h5" GutterBottom="true">Access Management</MudText>

    <MudText Typo="Typo.body1" GutterBottom="true">
        This page is for managing user access to GFS Tools.  User access is managed by assigning users to roles,
        and then granting those roles access to specific tools and reports.
    </MudText>

    <div style="margin-top:10px">
        @if (!_initialized)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Rounded="true" Size="Size.Medium" Value="100" Style="margin:20px" />
        }
        else
        {
            <BlockToolBar Title="Registered Principals"
                          OnAdd=OnAdd
                          OnEdit=OnEdit
                          OnDelete=OnDelete
                          OnSearch=OnSearch
                          DisableEdit="@_editDisabled"
                          DisableDelete="@_deleteDisabled"
                          DisableSearch="@_searchDisabled">
            </BlockToolBar>

            <PrincipalList List=GetList() OnSelect=OnRowsSelect />
            <Question Show=_deleteAsk Title="Delete Principal" Descriptions=@_deleteDescriptions OnYes=DeleteOnYes OnNo=DeleteOnNo OnClose=DeleteOnClose />
        }
    </div>
</BlockContainer>

@code {
    @inject NavigationManager _nav;
    @inject PrincipalIdentityStore _store;
    @inject ISnackbar _snackbar;
    [Parameter, SupplyParameterFromQuery] public string returnUrl { get; set; } = null!;

    private bool _initialized = false;
    private IReadOnlyList<PrincipalIdentityRecord> _list = null!;
    private bool _editDisabled = true;
    private bool _deleteDisabled = true;
    private bool _searchDisabled = true;
    private string? _searchString;
    private HashSet<PrincipalIdentityRecord> _selectedItems = new();
    private bool _deleteAsk = false;
    private IReadOnlyList<string> _deleteDescriptions = Array.Empty<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetPrincipals();
            StateHasChanged();
        }
    }

    private IReadOnlyList<PrincipalIdentityRecord> GetList() => _searchString switch
    {
        null => _list,
        string v => _list.Where(x => x.Like(_searchString)).ToArray(),
    };

    private async Task GetPrincipals()
    {
        _list = await _store.GetAll();
        _searchDisabled = _list.Count == 0;
        _initialized = true;
    }

    private void OnRowsSelect(HashSet<PrincipalIdentityRecord> items)
    {
        _selectedItems = items;

        (_editDisabled, _deleteDisabled) = items.Count switch
        {
            0 => (true, true),
            1 => (false, false),
            _ => (true, false)
        };
    }

    private void OnAdd() => _nav.GotoPrincipalEditPage("new-record", NavHelper.AccessManagement);

    private void OnEdit()
    {
        if (_selectedItems.Count != 1) return;
        _nav.GotoPrincipalEditPage(_selectedItems.First().NameIdentifier, NavHelper.AccessManagement);
    }

    private void OnSearch(string? searchString)
    {
        searchString = searchString.ToNullIfEmpty();
        if (_searchString == searchString) return;

        _searchString = searchString;
        _ = InvokeAsync(StateHasChanged);
    }

    private void OnDelete()
    {
        if (_selectedItems.Count == 0) return;

        var names = _selectedItems.Select(x => x.NameIdentifier).Join(", ");

        _deleteDescriptions = _selectedItems.Count switch
        {
            1 => ["Are you sure you want to delete principal?", $"Name Identifier: '{names}'"],
            _ => ["Are you sure you want to delete these?", $"Name Identifiers: {names}"],
        };

        _deleteAsk = true;
    }

    private async Task DeleteOnYes()
    {
        _deleteAsk = false;
        if (_selectedItems.Count == 0) return;

        foreach(var item in _selectedItems)
        {
            var deleteOption = await _store.Delete(item.NameIdentifier);
            if( deleteOption.IsError())
            {
                _snackbar.Add($"Failed to delete principal '{item.NameIdentifier}', statusCode={deleteOption.StatusCode}, error={deleteOption.Error}", Severity.Error, config =>
                {
                    config.RequireInteraction = true;
                });

                return;
            }

            _snackbar.Add($"Principal '{item.NameIdentifier}' deleted", Severity.Success);
        }

        await GetPrincipals();
    }

    public void DeleteOnNo() => _deleteAsk = false;

    public void DeleteOnClose() => _deleteAsk = false;
}