@using GFSWeb.sdk.Entity
@using GFSWeb.Application
@using System.Collections.Frozen


<MudDataGrid T="PrincipalIdentityRecord"
             Items="List"
             Dense="true"
             Hover="true"
             Bordered="false"
             Elevation="0"
             Striped=true
             SelectedItemsChanged="@SelectedItemsChanged"
             RowStyleFunc="GetRowStyle"
             SortMode="SortMode.Multiple"
             ColumnResizeMode="ResizeMode.Column"
             MultiSelection=true
             @ref=_grid>

    <Columns>
        <SelectColumn T="PrincipalIdentityRecord" />
        <PropertyColumn Property="x => x.NameIdentifier" Title="Name Identifier" Sortable="true">
            <CellTemplate>
                <a href="@NavHelper.GetPrincipalHref(context.Item.NameIdentifier, _returnUrl)" class="table-link">@context.Item.NameIdentifier</a>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UserName" Title="User Name" Sortable="true" />
        <PropertyColumn Property="x => x.Email" Title="Email" Sortable="true" />
        <PropertyColumn Property="x => x.Disabled" Title="Disabled" Sortable="true" />
        <TemplateColumn Title="Roles">
            <CellTemplate>
                <MudStack Row>
                    @foreach (var role in GetRoleLabels(context.Item))
                    {
                        <MudChip T="string" Variant="Variant.Outlined" Color=@role.color Size="Size.Small" Style="margin: 0px;font-size: 11px">@role.role</MudChip>
                    }
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {
    [Parameter] public IReadOnlyList<PrincipalIdentityRecord> List { get; set; } = null!;
    [Parameter] public EventCallback<HashSet<PrincipalIdentityRecord>> OnSelect { get; set; }

    private MudDataGrid<PrincipalIdentityRecord> _grid = null!;
    private HashSet<PrincipalIdentityRecord> _selectedItems = new();
    private string _returnUrl = Uri.EscapeDataString(NavHelper.AccessManagement);

    private async Task SelectedItemsChanged(HashSet<PrincipalIdentityRecord> items)
    {
        _selectedItems = items;
        await OnSelect.InvokeAsync(items);
    }

    private string GetRowStyle(PrincipalIdentityRecord item, int index)
    {
        var result = _selectedItems.Any(x => x.NameIdentifier == item.NameIdentifier);
        return result ? "background-color: var(--mud-palette-action-default-hover);" : string.Empty;
    }

    private static IEnumerable<(string role, Color color)> GetRoleLabels(PrincipalIdentityRecord item)
    {
        if (item.IsReader) yield return ("Reader", Color.Info);
        if (item.IsContributor) yield return ("Contributor", Color.Warning);
        if (item.IsOwner) yield return ("Owner", Color.Error);
        if (item.Parker) yield return ("Parker", Color.Info);
        if (item.ParkerPost) yield return ("Parker Post", Color.Warning);
    }
}
