@page "/access"

<MudStack Spacing="2">
    <ReturnUrlButton ReturnUrl=@returnUrl />
    <BlockHeader Title="Access Control" />

    <MudTabs Border="true">
        <MudTabPanel Text="Users">
            <div style="padding: 15px 0px">
                <PrincipalList />
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Groups">
            <div style="padding: 10px 0px">
                <PrincipalGroupList />
            </div>
        </MudTabPanel>
    </MudTabs>

</MudStack>

@code {
    [Parameter, SupplyParameterFromQuery] public string returnUrl { get; set; } = null!;
}