@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

@* <MudThemeProvider Theme=_theme IsDarkMode=_isDarkMode /> *@
<MudThemeProvider Theme="GFSWeb.Application.Themes.PrimaryTheme.Theme" IsDarkMode=_isDarkMode />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout>
    <AppBar DrawerOpen="@_appDrawerOpen" DrawerToggle="DrawerToggle" OnDarkMode="OnDarkMode" IsDarkMode=_isDarkMode />

    <MudDrawer @bind-Open="_drawerOpen"
               Variant="@_drawerVariant"
               Breakpoint="Breakpoint.None"
               ClipMode="DrawerClipMode.Always"
               OpenMiniOnHover="true"
               Width="180px">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Class="main-body">
        <div class="body-wrapper">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private const string DarkModeCookieName = "darkMode";

    bool _drawerOpen = true;
    bool _appDrawerOpen = true;
    bool _isDarkMode = false;
    DrawerVariant _drawerVariant = DrawerVariant.Persistent;

    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext?.Request.Cookies.TryGetValue(DarkModeCookieName, out var darkModeValue) == true &&
            bool.TryParse(darkModeValue, out var isDarkMode))
        {
            _isDarkMode = isDarkMode;
        }

        SetState(true);
    }

    private void SetState(bool state)
    {
        _drawerOpen = state;
        _appDrawerOpen = state;
    }

    private void DrawerToggle(bool state)
    {
        _drawerVariant = DrawerVariant.Mini;
        SetState(state);
    }

    private void OnDarkMode(bool isDarkMode)
    {
        _isDarkMode = isDarkMode;

        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        var returnUrl = relativePath.IsEmpty() ? "/" : $"/{relativePath}";
        var setDarkModeUrl = $"/preferences/dark-mode?value={isDarkMode.ToString().ToLowerInvariant()}&returnUrl={Uri.EscapeDataString(returnUrl)}";

        Navigation.NavigateTo(setDarkModeUrl, forceLoad: true);
    }
}