@page "/elimReport/{packageId}"
@using GFSWeb.sdk.Models
@using GFSWeb.sdk.Store
@using Toolbox.Data

<ReturnUrlButton ReturnUrl=@returnUrl />

<div style="margin-top:20px">
    <MudText Typo="Typo.h5" GutterBottom="true">Elim Report</MudText>
    <MudText Typo="Typo.body1" GutterBottom="true">
        This page is for running Elim reports.  Select a report from the list and click the Run button.
    </MudText>
</div>


@code {
    @inject NavigationManager _nav;
    @inject ReportPackageStore _store;
    @inject ISnackbar _snackbar;
    [Parameter] public string PackageId { get; set; } = null!;
    [Parameter, SupplyParameterFromQuery] public string returnUrl { get; set; } = null!;

    private bool _runDisabled = true;
}