@page "/elimPackage/{packageId}"

@using GFSWeb.Components.Pages.Elim.EditElim
@using GFSWeb.sdk.Models
@using GFSWeb.sdk.Store
@using Toolbox.Data

<MudStack Spacing="2">
    <ReturnUrlButton ReturnUrl=@returnUrl />

    @if (!_initialized)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Rounded="true" Size="Size.Medium" Value="100" Style="margin:20px" />
    }
    else
    {
        <BlockHeader Title="Package" SubTitle="@GetPackageDesecription()" />
        <BlockToolBar OnRun="OnRun" OnEdit="OnEdit" />

        <MudTabs @ref="_tabs">
            <MudTabPanel Text="Run">
                <MudPaper Elevation="2">
                    <MudStack Spacing="4" Style="margin-top:20px;padding:10px;">
                        <MudPaper Height="100px">
                            <MudText Typo="Typo.body2">Report parameters if needed.</MudText>
                        </MudPaper>

                        @if (_history.Count > 0)
                        {
                            <div style="margin-top:5px">
                                <MudProgressLinear Color="Color.Info" Value="@GetProgressValue()" Class="my-7" />

                                @foreach (var item in _history)
                                {
                                    <MudText Typo="Typo.body2">@item</MudText>
                                }
                            </div>
                        }
                    </MudStack>
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History">
                <ElimHistory PackageId="@PackageId" />
            </MudTabPanel>
            <MudTabPanel Text="Schedule">
            </MudTabPanel>
            <MudTabPanel Text="Pipeline">
            </MudTabPanel>
        </MudTabs>
    }
</MudStack>


@code {
    @inject NavigationManager _nav;
    @inject GFSAdminStore _store;
    @inject UserDatalakeStore _userDatalakeStore;
    [Parameter] public string PackageId { get; set; } = null!;
    [Parameter, SupplyParameterFromQuery] public string returnUrl { get; set; } = null!;

    private bool _initialized = false;
    private MudTabs _tabs = null!;
    private ReportPackageRecord? _currentRecord;
    private ReportPackageModel? _reportPackageModel;
    private List<string> _history = [];
    private Stack<string> _progressStack = new Stack<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadPackage();
            StateHasChanged();
        }
    }

    private async Task LoadPackage()
    {
        _currentRecord = (await _store.Package.Get(PackageId)).BeOk().Return();
        _reportPackageModel = _currentRecord.Unpack();

        _initialized = true;
    }

    private int GetProgressValue() => _progressStack.Count == 0 ? 0 : ((4 / _progressStack.Count) + 1) * 20;

    private string GetPackageDesecription() => _reportPackageModel is not null ? _reportPackageModel.Description : "Not loaded";

    private async Task OnEdit()
    {
        _nav.GotoEditElimReportHref(PackageId, NavHelper.ElimPackage.Href(PackageId));
    }

    private async Task OnRun()
    {
        await _tabs.ActivatePanelAsync(0);

        string[] list = [
            "Read report package...",
            "Querying data from SAP system...",
            "Running ETL process...",
            "Creating Excel file...",
        ];

        _history = [];
        _progressStack = new Stack<string>(list.Reverse());

        DataETag testReport = TestExcelFileGenerator.Generate();
        (await _userDatalakeStore.Add(testReport, _reportPackageModel.NotNull().PackageId, _reportPackageModel.Description, ".xlsx")).BeOk();
        await SimulateProgressAsync();
    }

    public async Task SimulateProgressAsync()
    {
        while (_progressStack.TryPop(out var str))
        {
            _history.Add(str);
            StateHasChanged();
            await Task.Delay(500);
        }
    }
}